<%- include("partials/header") -%>
<!-- ^^ partials pull from this file to import here -->

<h1><%= post.title %> </h1>

<p> <%= post.content%> </p>
<p> <%= post._id %> </p>

<form class="" action="" method="post">
  <input type="hidden" name="" value="">
  <button class="btn btn-primary" type="submit" name="button">Delete Post</button>
</form>

<%- include("partials/footer") -%>
