<%- include("partials/header") -%>
<!-- ^^ partials pull from this file to import here -->

<h1><%= post.title %> </h1>

<p> <%= post.content%> </p>

<form class="" action="/post/:entry/delete" method="post">
  <input type="hidden" name="deleteID" value="<%= post._id %>">
  <button class="btn btn-primary" type="submit">Delete Post</button>
</form>

<%- include("partials/footer") -%>
